<div class="incident-div blue-background blue-bottom-border">
    <div class="inline-div float-right">
        <button class="btn btn-info small-square-btn" (click)="changeEditMode()">{{modeCaption}}</button>
    </div>
    <environment [environmentInfo]="incident.environment" [editMode]="editMode"></environment>
    <br/>
    <br/>
    <label class="look-like-btn">Incident details</label>
    <div class="blue-border white-background negative-margin">
        <div class="form-group">
            <label class="caption">Description:</label>
            <label *ngIf="!editMode">{{incident.description}}</label>
            <input *ngIf="editMode" [(ngModel)]="incident.description"/>
        </div>
        
        <div class="form-group">
            <label class="caption">Actions:</label>
            <ul *ngFor="let a of incident.actions">
                <li><a href={{a}}>{{a}}</a></li>
            </ul>
        </div>
        
        <div class="form-group">
            <label class="caption">Attachments:</label>
            <ul *ngFor="let s of incident.attachments">
                <li><a href={{s}}>{{s}}</a></li>
            </ul>
        </div>
    </div>
</div>