div.incident-div {
  padding: 10px;
  margin-bottom: 10px;
  min-width: 200px;
}

div.blue-background {
  background: rgb(242, 246, 253);
}

.blue-bottom-border {
  border-bottom: solid rgb(91, 173, 255);
  border-bottom-width: 2px;
}