<div class="incident-div blue-background blue-bottom-border">
    <div class="inline-div float-right">
        <button class="btn btn-info small-square-btn" (click)="changeEditMode()">{{modeCaption}}</button>
    </div>
    <environment [environmentInfo]="incident.environment" [editMode]="editMode"></environment>
    <br/>
    <br/>
    <label class="look-like-btn">Incident details</label>
    <div class="blue-border white-background negative-margin">
        <div class="form-group">
            <label class="caption">Description:</label>
            <label *ngIf="!editMode">{{incident.description}}</label>
            <textarea style="width: 100%"  *ngIf="editMode" [(ngModel)]="incident.description"></textarea>
        </div>
        
        <div class="form-group">
            <label class="caption">Actions:</label>
            <table style="width: 100%">
                <tr *ngFor="let action of incident.actions">
                    <td><a href={{action}}>{{action}}</a></td>
                    <td *ngIf="editMode"><button class="btn btn-info extra-small-square-btn" (click)="deleteAction(action)">x</button></td>
                </tr>
                <tr *ngIf="editMode">
                    <td><input style="width: 100%" [(ngModel)]="addedAction"/></td>
                    <td><button class="btn btn-info extra-small-square-btn" (click)="addAction()">&#x2714;</button></td>
                </tr>
            </table>
        </div>
        
        <div class="form-group">
            <label class="caption">Attachments:</label>
            <input class="btn btn-info" *ngIf="editMode" type="file" (change)="addImage($event)"/>
            <img class="img-thumbnail" *ngFor="let a of incident.attachments" src="{{a}}"/>
        </div>
    </div>
</div>