<div style="text-align:center">
    <h1>
        {{ title }}
    </h1>
</div>
<div class="main">
    <environment [environmentInfo] = "environmentInfo"></environment>
    <br/>
    <button type="button" class="btn btn-info small-btn no-bottom-border" data-toggle="collapse" data-target="#grafana">Grafana monitor</button>
    <div id="grafana" class="collapse blue-border">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </div>
    <br/>
    <button type="button" class="btn btn-info small-btn no-bottom-border" data-toggle="collapse" data-target="#kibana">Kibana monitor</button>
    <div id="kibana" class="collapse blue-border">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </div>
    <br/>
    <button type="button" [ngClass]="{'btn btn-info small-btn': true, 'no-bottom-border': isCollapsed}" data-toggle="collapse" data-target="#consul" (click)="isCollapsed=!isCollapsed">Consul monitor</button>
    <div id="consul" class="collapse blue-border">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </div>
</div>